<h1>Editing feature</h1>

<% form_for(@feature) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :Name %><br />
    <%= f.text_field :Name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @feature %> |
<%= link_to 'Back', features_path %>